body {
    background-color: #3da5d9;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
}

.box_style {
    border: 0.5px solid black;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
}

.medium_pizza {
    background-color: #ffbd00;
}

.large_pizza {
    background-color: #ff5400;
}

.small_pizza {
    background-color: #ff0054;
}

.contacts {
    background-color: #89fc00;
    font-size: small;
}

.contacts .display {
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 960px) {
    body {
        background-color: #3da5d9;
    }
    .display {
        display: flex;
    }
}
